// --- Footer Styles---

.site-footer {
  background-color: var(--lightGray);
  width: 100%;
  padding: 4rem 0;
}

.footer-content {
  display: flex;
  justify-content: center;
}

.footer-menu .menu {
  display: none;
}

@media (min-width: 768px) {

  .footer-menu .menu {
    display: flex;
  }
  
  .footer-menu .menu li {
    margin-right: 2rem;
  }
  
  .footer-menu .menu li:last-of-type {
    margin-right: 0;
  }
  
  .footer-menu a{
    font-family: var(--mainFont);
    font-size: 2rem;
    color: var(--black);
  }
}

.copyright {
  text-align: center;
  flex: 1;
  font-family: var(--mainFont);
  font-size: 2rem;
  margin: 0;
}

@media (min-width: 768px) {
  .copyright {
    flex: 0 0 auto;
  }
}
