// --- Utilities ---


// Classes (names to serve a particular purpose)
.text-center {
  text-align: center;
}

.text-primary {
  color: var(--primary);
}

.section {
  padding: 5rem 0;
}

// Buttons
.button-container {
  display: flex;
  justify-content: flex-end;

  .button {
    display: block;
    background-color: var(--primary);
    color: white;
    flex: 1;
    text-align: center;
    border-radius: .5rem;
    padding: 1rem 3rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2rem;

    @media (min-width: 768px) {
      display: inline-block;
      flex: 0 0 auto;
    }

    &:hover {
      cursor: pointer;
      background-color: lighten(#b13333, 3%); 
    }
  }
}
