// --- Utilities ---

.text-center {
  text-align: center;
}

.text-primary {
  color: var(--primary);
}

.section {
  padding: 5rem 0;
}

// Page Templates

.featured-img {
  margin-bottom: 2rem;
}

.page.no-sidebars {
  max-width: 80rem;
  margin: 0 auto;
}

.page h1 {
  margin-bottom: 2rem;
}

// Page with sidebars
@media (min-width: 768px) {
  .page.with-sidebar {
    display: flex;
    justify-content: space-between;
  }

  .with-sidebar .page-content {
    flex: 0 0 calc(60% - 2rem);
  }

  .with-sidebar .sidebar {
    flex: 0 0 calc(40% - 2rem);
  }


}